<style type="text/css">
		h1{
			background-color: ;
			color:white;
			text-align: center;
		}
		table {
			margin-top: 100px;
			background-color: orange;
		}

		td {
			width: auto;
			margin-left: 0px;
			margin-right: 0px;

		}

		input {
			height: 30px;
		}

		button {
			width: 60px;
			height: 30px;
			border-radius: 20%;
			font-size: 20px;
		}

		button:hover {
			background-color: green;
			cursor: pointer;
		}
		/*body{
			background-color: black;
		}*/
	</style>